@using PetShop.BLL.DTOs.Category
@using PetShop.DAL.Entities
@model UpdateCategoryDto
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Category</h4>
                <form method="post" class="forms-sample">
                    <div class="form-group">
                        <label>Category Name</label>
                        <input asp-for="Name" class="form-control" placeholder="category name">
                        <span asp-validation-for="Name"></span>
                        <br>
                        <input asp-for="Url" class="form-control" placeholder="Image category">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a asp-controller="Category" asp-action="Index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>