@model Category
<div class="content-wrapper">
    ----------------------

    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Category</h4>
                    <form method="post" class="forms-sample">
                        <div class="form-group">

                            <input asp-for="Name" class="form-control" placeholder="category name">
                            <span asp-validation-for="Name"></span>
                            <br>
                            <input asp-for="Url" type="file" class="form-control" accept="image/*" />
                            <span asp-validation-for="Url"></span>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a asp-controller="Category" asp-action="Index" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>